@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0 !important;
    font-family: 'Dosis', cursive !important;
}
.body{
    height: 110vh;
    width: 460px;
    box-sizing: border-box;
    margin: 0 !important;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
    color: #fff !important;
    background: url(./assets/img/original.webp) no-repeat;
}
.button2{
    background: none !important;
    border: none !important;
    z-index: 2002 !important;
}

.title-template{
    display: inline-block;
    position: relative;
    font-family: 'Dancing Script', cursive !important;
    color: #A084CA;
}

.title-template::after, .title-template::before{
    content: " ";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.title-template:hover::after, .title-template:hover::before{
    transform: scale(1);
}

.title-template::before{
    left: -80px;
}

.title-template::after{
    right: -80px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px !important;
}

.about-us{
    letter-spacing: 0.03em !important;
    line-height: 1.8;
}

.ab{
    text-shadow: rgba(41, 132, 212, 0.596) 0.1em 0.05em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px!important;
    /* z-index: 2001 !important; */
    background-color: #b973ff9d !important;
}

.open{
    position: absolute;
    bottom: 25%;
}

.title {
    font-size: 60px;
    margin-left: 15px;
}

.img-log{
    width: 460px !important;
    z-index: 0;
}

/* user */

.profile_user_section .profile_user_body,
.profile_user_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile_user_section .profile_user_header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
} 

.profile_user_section .profile_user_frontpage {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
}

.profile_user_section .profile_user_frontpage .button-frontpage {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.profile_user_section .profile_user_frontpage .button-frontpage i {
    margin-right: 1rem;
}

.profile_user_section .profile_user_avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.profile_user_section .profile_user_avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.profile_user_section .profile_user_avatar .button_avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.profile_user_section .profile_user_body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.profile_user_section .profile_user_body .title_user_bio {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.profile_user_section .profile_user_body .texto {
    color: #848484;
    font-size: 0.95em;
}

.profile_user_section .profile_user_footer,
.profile_user_section .profile_user_bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.profile_user_section .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.profile_user_section .data_list {
    width: 50%;
    list-style: none;
}

.profile_user_section .data_list li {
    padding: 5px 0;
}

.profile_user_section .data_list li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.profile_user_section .social_networks {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.profile_user_section .social_networks .net_button {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.profile_user_section .social_networks .net_button+.net_button {
    margin-top: .5rem;
}

.profile_user_section .net_button.facebook {
    background-color: #5955FF;
}

.profile_user_section .net_button.twitter {
    background-color: #35E1BF;
}

.profile_user_section .net_button.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

@media (max-width: 750px) {
    .profile_user_section .data_list {
        width: 100%;
    }

    .profile_user_section .profile-user-frontpage,
    .profile_user_section .profile-user-body {
        width: 95%;
    }

    .profile_user_section .social_networks {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }
    .profile_user_footer{
        padding: 50px 10px !important;
    }

    .profile_user_section .social_networks .net_button+.net_button {
        margin-left: 1rem;
        margin-top: 0;
    }
}

/* Contact Circle */
.social_networks_contact{
        display: flex;
        flex-direction: row;
        width: 70% !important;
        height: 65% !important;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 5rem!important;
}
    
.profile_user_section .social_networks_contact .net_button{
        border: 0;
        background-color: #fff;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        font-size: 1.3rem;
}

.profile_user_section .net_button.facebook_contact{
        background-color: #0470E5;
}

.profile_user_section .net_button.twitter_contact{
        background-color: #1D9BF0;
}

.profile_user_section .net_button.instagram_contact{
        background-image: linear-gradient(30deg, #F5A526, #FE1944,  #FD00A3);
}

.profile_user_section .net_button.whatsapp_contact{
        background-color: #48C858;
}

.profile_user_section .net_button.mail_contact{
        background-color: #E0524D;
}

.profile_user_section .net_button.discord_contact{
        background-color: #6270FC;
}

/* Form */
.form{
    width: 500px;
    margin: auto;
    max-width: 90%;
    margin-top: 30px;
    padding: 50px 30px;
    box-shadow: 0 0 20px 1px #812dff39;
    position: relative; 
    border-radius: 20px;
    z-index: 0 !important;
}

.form_input, .form_label {
    display: block;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Dancing Script', cursive !important;
}

.letter{
    font-family: 'Dancing Script', cursive !important;
    font-size: 26px;
}

.form_input{
    padding: 10px;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, .3);
    margin-bottom: 50px;
    caret-color: red;
    
}

.form_input:focus{
    outline: 1px solid #a340fffb;
}

.full{
    margin-top: -150px !important;
    color: #A084CA !important;   
    transition: all 0.03s;
}

.option_violet1 {background-color: #d1c7e2;}
.option_violet2 {background-color: #cfc2e4;}
.title_option{ background-color:#A084CA; color: #cfc2e4;} 

.form_label{
    padding-left: 15px;
    position: absolute; 
    margin-top: -100px;
    z-index: -20;
    color: rgba(0, 0, 0, .5);
    transition: all 0.2s;
}

.start{
    font-size: 16px;
}

.starti{
    font-size: 16px;
    color: #5955FF;
}

.radio{
    background-color: #A084CA!important;
    color: #FFFFFF !important;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    background-color: #5955FF !important;
}

.switch{
    background-color: #d1c7e2 !important;
}

.switch:focus {
    border-color: #A084CA !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(109, 13, 253, 0.25) !important;
}

.switch:checked {
    background-color: #A084CA !important;
    border-color: #A084CA !important;
}

.alredy{
    background-color: #ece09fc4 !important;
    border-color: #ece09fc4 !important;  
}
.alredy:focus {
    border-color: #ece09fc4 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 245, 13, 0.295) !important;
}

.alredy:checked {
    background-color: #ece09fc4 !important;
    border-color: #ece09fc4 !important;
}

.range::-webkit-slider-thumb{
    background-color: #ece09fc4 !important;
}
.range::-webkit-slider-thumb:active{
    background-color: #ece09fc4 !important;
} 
.range::-moz-range-thumb{
    background-color: #ece09fc4 !important;
}
.range::-moz-range-thumb:active {
    background-color: #ece09fc4 !important;
}

.range::-webkit-slider-runnable-track{
    background-color: #d9ceec !important;
}

.accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #A084CA !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #d9ceec !important;
    outline: 0;
    box-shadow: none !important; 
}

.button {
    font-size: 20px;
    background: linear-gradient(65deg, #A084CA, #40A7FF);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
.button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
   
.button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
   
   /* Game Information */
   
.subtitle_game{
    text-align: center;
    display: block;
    background-color: #84848456;
}
 
